flask
python-dotenv

pyarabic
naftawayh
qalsadi

# vocalization
asmai
mishkal
gradio_client

# book
mistune
# python-slugify[unidecode]

# AI
huggingface-hub
# torch
# transformers

# deployment
# gunicorn